In [1]:
import pandas as pd
from tqdm import tqdm, tqdm_notebook

from data_importer.base.storage import AzureStorage
from data_importer.base.cleaner import DataCleaner, strip, titleize
from data.constants import ACTIVE_UNKNOWN_CHOICE, ACTIVE_YES_CHOICE, ACTIVE_NO_CHOICE

In [2]:
storage = AzureStorage(account_name='cpdbv2data', 
                       account_key='your-key-here',
                       share='cleaned-data')

import_db = 'import'

current_status_dict = {
    '1.0': ACTIVE_YES_CHOICE,
    '0.0': ACTIVE_NO_CHOICE
}

## Read profiles data

In [3]:
df = pd.read_csv(
    storage.path_for('profiles/final-profiles.csv'),
    usecols=['UID', 'Current.Status'],
    converters={
        'Current.Status': lambda x: current_status_dict.get(x, ACTIVE_UNKNOWN_CHOICE)
    }
)

df = df.rename(columns={
    'UID': 'id',
    'Last.Name': 'last_name',
    'Current.Status': 'active'
})

In [4]:
df = df[0:32140]

## Update officer status

In [5]:
def update_officer_status(data):
    officer = Officer.objects.using(import_db).get(pk=data['id'])
    officer.active = data['active']
    officer.race = officer.race.title() if officer.race != "API" else officer.race
    officer.save()

In [6]:
tqdm.pandas(tqdm_notebook(), desc='Updating Officer Status')

df.progress_apply(update_officer_status, axis=1)
pd.DataFrame.from_records(Officer.objects.using(import_db).all().values())

A Jupyter Widget

Updating Officer Status: 32140it [02:08, 249.67it/s]

,active,appointed_date,birth_year,first_name,gender,id,last_name,middle_initial,race,rank,suffix_name,tags
0,No,1969-01-06,1942.0,Carmen,M,5,Abbate,None,White,,None,[]
1,No,1954-10-16,1930.0,Anthony,M,6,Abbate,None,White,,None,[]
2,Yes,1995-12-04,1972.0,Terry,M,7,Abbate,None,White,,None,[]
3,No,1990-03-26,1945.0,Leon,M,8,Abbey,None,Black,,None,[]
4,No,1949-03-16,1923.0,Michael,M,9,Abbey,None,Black,,None,[]
5,No,1970-12-14,1949.0,Laura,M,11,Abbott,None,White,,None,[]
6,No,1982-11-29,1953.0,Andrew,M,12,Abbott,None,White,,None,[]
7,No,1987-12-07,1958.0,Dale,F,13,Abbott,None,White,,None,[]
8,No,1986-07-14,1965.0,Elizabeth,F,14,Abbott,None,White,,None,[]
9,Yes,2012-11-30,1983.0,Zaid,M,15,Abdallah,None,White,,None,[]
10,Yes,2006-12-18,1978.0,Aziz,M,16,Abdelmajeid,None,White,,None,[]
11,No,2008-04-28,1984.0,Moulay,M,17,Abdullah,None,API,,None,[]
12,Yes,1989-12-26,1958.0,Jason,M,18,Abejero,None,Black,,None,[]
13,No,1999-10-25,1976.0,Restituto,M,19,Abejero,None,API,,None,[]
14,No,1999-12-13,1949.0,Kenneth,M,20,Abels,None,API,,None,[]
15,No,1970-06-15,1949.0,Deborah,M,21,Abelson,None,White,,None,[]
16,No,1985-09-09,1957.0,Eugene,F,22,Abington,None,White,,None,[]
17,Yes,1964-06-08,1937.0,Patrick,M,23,Abney,None,Black,,None,[]
18,No,2015-06-29,1990.0,John,M,24,Abraham,None,White,,None,[]
19,Yes,1947-12-22,1925.0,Nancy,M,25,Abraham,None,White,,None,[]
20,No,1950-04-03,1922.0,Jos,M,26,Abraham,None,White,,None,[]
21,No,2014-04-28,1986.0,Paul,F,27,Abram,None,API,,None,[]
22,Yes,2016-06-27,1988.0,Anthony,M,28,Abram,None,Black,,None,[]
23,No,1976-04-26,1939.0,Henry,M,29,Abrams,None,Black,,None,[]
24,Yes,1986-06-16,1963.0,Nicholas,M,30,Abramson,None,Black,,None,[]
25,No,1967-12-11,1937.0,John,M,31,Abran,None,White,,None,[]
26,No,1977-11-01,1950.0,Alexander,M,32,Abrasevic,None,White,,None,[]
27,No,1973-10-22,1946.0,Ricardo,M,33,Abreu,None,Hispanic,,None,[]
28,Yes,1998-06-29,1973.0,Floyd,M,34,Abron,None,Black,,None,[]
29,No,1994-10-03,1962.0,Kathy,F,35,Abston,None,Black,,None,[]
...,...,...,...,...,...,...,...,...,...,...,...,...
32110,Yes,2016-04-25,1981.0,James,M,31420,Young,None,Black,,None,[]
32111,No,1993-12-13,1969.0,Wallace,M,31455,Young,None,Black,,None,[]
32112,No,1970-01-19,1945.0,Michael,M,31618,Zefeldt,None,Hispanic,,None,[]
32113,Yes,1962-03-12,1937.0,Charisse,M,31643,Zeno-Davis,None,Black,,None,[]
32114,Yes,1989-12-26,1964.0,Oscar,M,31653,Zermeno,None,White,,None,[]
32115,No,1994-08-01,1969.0,Virginia,M,31665,Zic-Schlomas,None,White,,None,[]
32116,No,1994-08-01,1967.0,John,M,31689,Ziemblicki,None,Hispanic,,None,[]
32117,No,1973-02-19,1946.0,Samuel,M,31734,Zroski,None,White,,None,[]
32118,Unknown,2005-10-31,1977.0,Larron,F,31794,Alexander,None,White,,None,[]
32119,Unknown,1964-06-29,1936.0,Cherron,M,31813,Bady,None,White,,None,[]
32120,Unknown,2012-12-14,1975.0,Elizabeth,F,31840,Briggs,None,White,,None,[]
32121,Unknown,1962-03-05,1938.0,Wilfred,M,31866,Chapleau,None,Hispanic,,None,[]
32122,Unknown,1991-12-02,1970.0,Jack,M,31893,Costa,None,White,,None,[]
32123,Unknown,1992-06-29,1954.0,Edward,F,31903,Daniels,None,White,,None,[]
32124,Unknown,1993-12-13,1968.0,Michael,M,31942,Dyra,None,White,,None,[]
32125,Unknown,2012-12-14,1985.0,Eibar,M,31974,Fuentes,None,Hispanic,,None,[]
32126,Unknown,2012-11-30,1983.0,James,M,31976,Gallagher,None,Hispanic,,None,[]
32127,Unknown,1985-04-08,NaN,Victor,F,32011,Gurrola,None,Black,,None,[]
32128,Unknown,1981-03-02,NaN,Christian,F,32031,Hattenberger,None,White,,None,[]
32129,Unknown,2006-07-16,1986.0,Maurizio,M,32063,Inzerra,None,,,None,[]
32130,Unknown,2003-02-24,1972.0,George,F,32090,Karuntzos,None,,,None,[]
32131,Unknown,1959-03-16,1934.0,David,M,32105,Kleinfelder,None,,,None,[]
32132,Unknown,2016-08-29,1988.0,Terrance,F,32140,Looney,None,,,None,[]
32133,No,1965-03-15,1929.0,Roger,M,31488,Zacharias,None,White,,None,[]
32134,No,2000-12-18,1974.0,Robert,M,31491,Zadrozny,None,Black,,None,[]
32135,Yes,1946-03-25,1922.0,Kristine,M,31499,Zahlmann,None,White,,None,[]
32136,Yes,1966-12-19,1944.0,Stanislaw,M,31528,Zalinski,None,White,,None,[]
32137,Yes,1971-10-12,1947.0,Martha,M,31561,Zaragoza,None,White,,None,[]
32138,No,1986-10-13,1965.0,James,M,31572,Zarno,None,API,,None,[]
32139,No,1999-11-15,1972.0,Nicholas,M,31588,Zavolokoff,None,API,,None,[]